name: Ada Build and Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Ada compiler
        run: sudo apt-get install gnat

      - name: Install FSF toolchain
        uses: alire-project/alr-install@v2
        with:
          crates: gnat_native gprbuild

      - name: Build alr with default toolchain
        shell: bash
        run: dev/build.sh





     
      
      
      
